<header>
  <h2>Thanh toán<button mat-icon-button style="float:right" mat-dialog-close> <mat-icon>close</mat-icon> </button> </h2>
</header>
<div fxLayout="column" fxLayoutGap="10px">
  <div fxFlex fxFlexAlign="center"><strong>PHIẾU THU</strong></div>
  <div fxFlex fxFlexAlign="center"><strong>PT001:</strong></div>
  <div fxFlex fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="100"><strong>Ngày:</strong> 12-12-2019</div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="100"><strong>Khách hàng:</strong> Khách lẻ</div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="100"><strong>Hình thức thành toán:</strong> TM</div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="100"><strong>Số tiền:</strong> 30.000</div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="100"><strong>Diễn giải:</strong> Nội dung diễn giải</div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutGap="10px" fxFlexAlign="end center">
    <button fxFlex mat-button mat-raised-button color="warn" mat-dialog-close>Hủy</button>
    <button fxFlex mat-button mat-raised-button color="primary">Đồng ý</button>
  </div>

</div>
