<header>
  <h2>Thanh toán<button mat-icon-button style="float:right" mat-dialog-close> <mat-icon>close</mat-icon> </button> </h2>
</header>
<div fxFill>
  <div fxFlex fxLayout="column">
    <div fxFlex> <strong>Tổng tiền:</strong>30.000 </div>
    <div fxFlex> <mat-checkbox>Ghi nợ</mat-checkbox> </div>
    <mat-form-field>
      <mat-label>Hình thức thanh toán</mat-label>
      <mat-select>
        <mat-option>TM</mat-option>
        <mat-option>CK</mat-option>
        <mat-option>Thẻ</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxFlex>
      <mat-form-field class="full-width">
        <mat-label>Thanh toán</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div fxFlex> <strong>Trả lại:</strong> 0 </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <mat-label>Diễn giải</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="10px" fxFlexAlign="end center">
      <button fxFlex mat-button mat-raised-button color="warn" mat-dialog-close>Hủy</button>
      <button fxFlex mat-button mat-raised-button color="primary">Cập nhật</button>
    </div>
  </div>
</div>

