<div fxLayout="row" style="margin-top: 10px">
    <div fxFlex="90px">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="/hang-hoa">Hàng hóa</a>
            <a routerLink="/lich-su" mat-menu-item>Lịch sử</a>
            <a routerLink="/danh-muc" mat-menu-item>Danh mục</a>
            <a routerLink="/doi-tac" mat-menu-item>Đối tác</a>
        </mat-menu>
    </div>
    <div fxFlex>
        <h1>Danh mục</h1>
    </div>
    <div fxFlex="80px">
      <button mat-icon-button>
        <img style="width: 100%; height: 100%; border: 1px solid #999b9e; border-radius: 50%;" src="assets/images/logo.png" alt="Logo" />

      </button>


    </div>

</div>
